.index {
  position: absolute !important;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .item {
    height: 100vh;
    width: 100vw;
    background-color: gold !important;
  }
}