html {
  height: 100%;
}

body {
  height: 100vh;
}
.layout {
  @import url('https://fonts.googleapis.com/css?family=Cardo|Josefin+Sans');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');

  min-height: 100vh;

  h1, h2, h3, h4 {
    font-family: 'Cardo', serif;
    letter-spacing: -0.04em;
    font-weight: 700;
  }

  h5, h6, p, div {
    font-family: 'Cardo', serif;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 13px;
  }

  h5 {
    font-size: 13px;
  }

  .footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.4rem;
    background-color: #efefef;
  }

  @media (min-width: 1200px) {
    .container {
      max-width: 1400px;
    }
  }
}