.xyz-navbar {
  top: 135px !important;

 .navbar-button {
    outline: none;
    box-sizing: none; 
    background-color: transparent;
    border: 0;
    color: black;
    cursor: pointer;

    div {
      letter-spacing: -0.06em;
    }
  }
}